.panel-body{
    text-align: center;
}

.jumbotron {
    float: center;
    color: rgb(99, 76, 184);
    text-align: center;
    border: 3px white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    color: #000;
    margin-top: 5px;
}

body{
    background-image: url("../images/lavander.jpg");
}

.row{
    align-items: stretch;
}

p{
    font-size: 20px;
    font-weight: 600;
}