body {
	background-image: url("../images/lavander.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
  }

  h1{
    text-align: center;
    color: #000;
    margin-top: 5px;
  }

  .panel-body{
    text-align: center;
  }

  button:hover {
	opacity: 0.8;
	border: yellow;
  }

  .outer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .inner{
    display: inline-block;
  }

  .modal{
    width: 500px;
    height: 500px;
    margin-top:100px;
	  margin-left: 30%;
  }


 
