body {
	background-image: url("../images/lavander.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

  h1{
    text-align: center;
    color: #000;
    margin-top: 50px;
  }

form{
    background-color: rgba(253, 251, 249, 0.548);
	border: 2px solid black;
	margin-top:100px;
	margin-left: 300px;
	width: 50%;
	padding: 70px 0;
	text-align: center;
	position: center;
	font-size: 20px;
}

form .btn {
	background: rgb(99, 76, 184);
	border-color: rgb(132, 33, 136);
	color: black;
	font-size: 20px;
	width: 20%;
	height: 30px;
	line-height: 30px;
    margin-top: 10px;
  }

button:hover {
	opacity: 0.8;
	border: yellow;
  }